<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
<body class="container">
	<main>
        <div class="jumbotron">
			<H1>Powered by NodeJS</H1>
            <p><%= monster.name + ' ' + monster.desc %></p>
            <p>Le niveau de  <%= monster.name %> est de <%= monster.level %> sur 10.</p>
        </div>
    </main>    
</body>
</html>
